body {
  font: 1.2em / 1.5 sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  display: block;
  padding: 0.5em;
}

a {
  border: 5px solid grey;
}

/* Add styles here */

a[title] {
  border-color: pink;
}

a[href*="contact"] {
  border-color: orange;
}

a[href^="https"] {
  border-color: green;
}